<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Overlapp</title>
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/scrolling-nav.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <navnav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">
            <div>
              <img style="width: 25px" alt="Brand" src="../images/logo2.png"> Overlapp Developers
            </div>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section-->
            <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
            <li><a class="page-scroll " href="/">Inicio</a></li>
            <li><a class="page-scroll" href="/start">Comenzar</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse-->
      </div>
      <!-- /.container-->
    </navnav>
    <!-- Intro Section-->
    <section class="intro-section" id="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Overlapp Web API</h1><br>
            <p class="important-text"><strong>Nuestra API Web</strong> le permite integrar todas 
            las funcionalidades de una red social empresarial en su sistema informático. Puede desarrollar sus propios scripts y aplicaciones basados sobre nuestro 
              sistema para cubrir cualquiera de sus necesidades.
            </p>
            <div class="container">
                <hr>
                <div class="row grid-divider">
                <div class="col-sm-4">
                  <div class="col-padding">
                    <h3>API Rest</h3>
                    <p>Las comunicaciones desde y hacia nuestra API pasan por peticiones HTTP GET, 
                      POST, PUT y DELETE. Utilizamos el formato JSON para funciones de exportación. 
                      Puede acceder a nuestra API desde cualquier idioma de programación en pocos minutos 
                      gracias a nuestras librerías listas para usted.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="col-padding">
                    <h3>Gestion de datos</h3>
                    <p>
                      Recupere los datos de sus empresa muy fácilmente con nuestros filtros:
                      <ul>
                        <li>
                          <p>Puede encontrar los datos de sus empleados</p>
                        </li>
                        <li>
                          <p>Puede tener un seguimiento de cerca de las actividades de la empresa</p>
                        </li>
                        <li>
                          <p>Puede tener acceso a la mensajeria instantanea</p>
                        </li>
                      </ul>
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="col-padding">
                    <h3>Chat interactivo</h3>
                    <p>Aumente la fluidez en la comunicacion dentro de su empresa con Overlapp Messenger, 
                      un sistema de mensajeria instantanea de ultima generacion</p>
                  </div>
                </div>
                </div>

            </div>
            <br>       
            </p><br><a class="btn btn-default page-scroll main-btn" href="#about">¡Ver Mas!</a>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section-->
    <section class="about-section" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Como funciona</h1>
            <br>
            <h3>General</h3>
            <p>Las herramientas Overlapp son faciles y muy intuitivas: usted compone la información,
              la envia, y nosotros nos encargamos del resto (crear un nuevo equipo por ejemplo).
            </p>
            <p>Nuestro algoritmo único impulsa la fluidez de comunicación entre los empleados de tal
              manera que pueda focalizar sus esfuerzos en su negocio principal: le permite no tener
              que preocuparse del mantenimiento de sus servidores. Impulsar la comunicación significa 
              sus empleados estaran siempre al tanto de todo, generando resultados completos y efectivos 
              que mejoraran las estadísticas de la empresa.
            </p>
            <h3>Lista de funcionalidades</h3>
              <p>
                Aquí tiene, entre otras, las principales funcionalidades que proponemos:
                <ul>
                  <li>
                    <p>Creación y gestión de cuentas individuales</p>
                  </li>
                  <li>
                    <p>Creación y gestion de equipos de trabajo</p>
                  </li>
                  <li>
                    <p>Acceso y gestión publico a la información compartida de los usuarios</p>
                  </li>
                  <li>
                    <p>Creación y gestiónes de chats interactivo entre usuarios o miembros de un equipo</p>
                  </li>
                </ul>
              </p><br><a class="btn btn-default page-scroll main-btn" href="#services">¡Aún Mas!</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section-->
    <section class="services-section" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Comó empezar a usar Overlapp</h1>
          </div>
          <p class="center">
            Toda la documentación que necesitas esta aquí.
            Aprovecha nuestra potente API para integrar Overlapp en tus sistemas de información todas las funcionalidades de <strong>Overlapp</strong>. 
            ¡Deja que comience la codificación!
          </p>
         </p><br><a class="btn btn-default page-scroll main-btn" href="/start">¡Comenzemos!</a>
        </div>
      </div>
    </section>
    <footer>
      <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
      <!-- footer start from here-->
    <footer>
      <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
      <!-- footer start from here-->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 footerleft">
              <div class="logofooter"><img src="../images/logo.png" style="width: 170px;" alt=""></div>
              <p>Uno de los fundamentos de la inteligencia competitiva es la rapidez con la que 
                la información circula. En esto se basa <a href="">OVERLAPP</a>
              </p>
              <p><i class="fa fa-map-pin"></i> zona 12, colonia Landivar - Guatemala</p>
              <p><i class="fa fa-phone"></i> Telefono(502): 3342-5342</p>
              <p><i class="fa fa-envelope"></i> E-mail : info@overlapp.com</p>
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
              <h6 class="heading7">ENLACES GENERALES</h6>
              <ul class="footer-ul">
                <li><a href="#"> Politicas de Privacidad</a></li>
                <li><a href="#"> Terminos y Condiciones</a></li>
                <li><a href="#"> Preguntas Frecuentes</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
              <h6 class="heading7">ULTIMAS ACTUALIZACIONES</h6>
              <div class="post">
                <p>Primer beta estable, creado por nosotros<span>Julio 26, 2017</span></p>
                <p>Lanzamiento oficial, funcionando al cien <span>August 3,2015</span></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
              <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                  <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer start from here-->
      <div class="copyright">
        <div class="container">
          <div class="col-md-6">
            <p>© 2017 - All Rights with Overlapp</p>
          </div>
          <div class="col-md-6">
            <ul class="bottom_ul">
              <li><a href="#">overlapp.com</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Faq's</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer> 
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/scrolling-nav.js"></script>
  </body>
</html>
